<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="http://cdn.staticfile.org/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />
  <link rel="stylesheet" href="{$default_dir}static/admin/site.css" />

  <title>沐月琉璃后台管理</title>


</head>
<body>
    {block name="header"}{include file="Public:header" /}{/block}

    <div class="container-fluid">  

      <div class="row">
        {block name="left"}<div class="col-2 lefsitebar"> {include file="Public:leftmenu" /}</div>{/block}
        <div class="col maincontent">  {block name="main"}主内容{/block}</div>
      </div>
     
    
      {block name="right"}{include file="Public:sidebar" /}{/block}

      <div class="row">
        {block name="footer"}{include file="Public:footer" /}{/block}
      </div>
    </div>


{block name="footerscript"}{include file="Public:footerscript" /}{/block}

</body>
</html>