{assign name="baseController" value="app\\common\\controller\\BaseController" /}
<aside id="sitebar" class="sidebar-menu">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class=" nav flex-column">

      
      <li class="nav-item menu ">
        <a  class="nav-link active" data-toggle="collapse" href="#collapseBlog"  aria-expanded="false" aria-controls="collapseBlog">
          <i class="fas fa-edit"></i>
          <span>简历管理</span>
          <span class="pull-right-container">
            <i class="fas fa-angle-down"></i>
          </span>
        </a>
        <ul class="sidebar-menu nav flex-colum collapse menu show"  id="collapseBlog" data-parent="#sitebar">
         
          <li class="nav-item">
            <a href="{:url('admin/resume/list')}" class="nav-link active">
              <i class="fa fa-pen"></i> 简历列表</a>
          </li>

          <li class="nav-item">
            <a href="{:url('admin/codetable/list')}" class="nav-link active">
              <i class="fa fa-pen"></i> 技能管理</a>
          </li>

        </ul>
      </li>

     
    </ul>
</aside>