<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>WeUI</title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="http://cdn.staticfile.org/weui/1.1.3/style/weui.min.css" />
    <link rel="stylesheet" href="http://cdn.staticfile.org/jquery-weui/1.2.1/css/jquery-weui.min.css">
    <link rel="stylesheet" href="{$default_dir}static/resume/example.css" />
</head>

<body ontouchstart>

    <div class="container" id="container"></div>

    <script type="text/javascript">
        var handelUrl = "{:url('/resume/handle')}";
        var resourceUrl = "{:url('/resume/resource')}";
    </script>

    <!-- 验证 -->
    <script type="text/html" id="tpl_home">
        <div class="page">
                <div class="page__hd">
                        <p>个人简历注册</p>
                </div>

                <div class="page__bd page__bd_spacing">
                        <div class="weui-cells__title">手机号</div>
                        <div class="weui-cells">
                            <div class="weui-cell">
                                <div class="weui-cell__bd">
                                    <input class="weui-input" id="phone" name="phone"  type="tel" placeholder="请输入手机号"/>
                                </div>
                            </div>
                        </div>

                        <div class="weui-btn-area">
                            <a class="weui-btn weui-btn_primary" href="javascript:" data-id="register" id="btnLoginValidate">验证</a>
                        </div>
                </div>

                <div class="page__ft">
                   
                </div>
            </div>

            <script type="text/javascript">
                $(function(){
                    init();
                });
            </script>
    </script>

    <!-- 注册 -->
    <script type="text/html" id="tpl_register">
        <div class="page">
            <div class="page__hd">
                    <p>个人简历注册</p>
            </div>

            <div class="page__bd page__bd_spacing">
                <div class="weui-cells weui-cells_form">
                    
                    <div class="weui-cell">
                      <div class="weui-cell__hd"><label class="weui-label" >手机号</label></div>
                      <div class="weui-cell__bd">
                        <label class="weui-msg__desc" id="lblPhone"></label>
                      </div>
                    </div>

                  
                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                          <label class="weui-label">密码</label>
                        </div>
                        <div class="weui-cell__bd">
                          <input class="weui-input" type="password" id="password"  placeholder="请输入密码" />
                        </div>
                    </div>

                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                          <label class="weui-label">确认密码</label>
                        </div>
                        <div class="weui-cell__bd">
                          <input class="weui-input" type="password" id="password2" placeholder="请确认密码" />
                        </div>
                    </div>

                    <div class="weui-btn-area">
                        <a class="weui-btn weui-btn_primary" href="javascript:" data-id="register" id="btnRegister">注册</a>
                    </div>
                </div>
            </div>

            <div class="page__ft">
               
            </div>
        </div>

        <script type="text/javascript">
            $(function(){
                initRegister();
            });
        </script>
    </script>

    <!-- 登入 -->
    <script type="text/html" id="tpl_login">
        <div class="page">
            <div class="page__hd">
                    <p>简历登入</p>
            </div>

            <div class="page__bd page__bd_spacing">
                <div class="weui-cells weui-cells_form">
                    
                    <div class="weui-cell">
                      <div class="weui-cell__hd"><label class="weui-label" >手机号</label></div>
                      <div class="weui-cell__bd">
                        <label class="weui-msg__desc" id="login_Phone"></label>
                      </div>
                    </div>

                  
                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                          <label class="weui-label">密码</label>
                        </div>
                        <div class="weui-cell__bd">
                          <input class="weui-input" type="password" id="login_password"  placeholder="请输入密码" />
                        </div>
                    </div>


                    <div class="weui-btn-area">
                        <a class="weui-btn weui-btn_primary" href="javascript:" data-id="register" id="btnLogin">登入</a>
                    </div>
                </div>
            </div>

            <div class="page__ft">
               
            </div>
        </div>

        <script type="text/javascript">
            $(function(){
                initLogin();
            });
        </script>
    </script>

    <!-- 基本信息1 -->
    <script type="text/html" id="tpl_basic">
        <div class="page" id="page_basic">
            <div class="page__hd">
                    <p>基本信息</p>
            </div>

            <div class="page__bd page__bd_spacing">
                <div class="weui-cells weui-cells_form">
                    

                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                          <label class="weui-label">身份证号</label>
                        </div>
                        <div class="weui-cell__bd">
                          <input class="weui-input required" type="text" id="basic_cardno"  placeholder="请输入身份证号" />
                        </div>
                    </div>

                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                          <label class="weui-label">姓名</label>
                        </div>
                        <div class="weui-cell__bd">
                          <input class="weui-input required" type="text" id="basic_name"  placeholder="请输入姓名" />
                        </div>
                    </div>

                    <div class="weui-cell">
                          <div class="weui-cell__hd">
                            <label for="" class="weui-label">性别</label>
                          </div>
                          <div class="weui-cell__bd">
                                <input class="weui-input commonTable required" id="basic_sex" data-type="10" type="text" value="女" readonly="">
                          </div>
                    </div>

                    <div class="weui-cell">
                        <div class="weui-cell__hd"><label for="" class="weui-label">出生日期</label></div>
                        <div class="weui-cell__bd">
                          <input class="weui-input required" type="text" id="basic_birthday" value="">
                        </div>
                    </div>

                   

                    <div class="weui-cell">
                       
                            <div class="weui-cell__hd">
                                <label for="" class="weui-label">民族</label>
                            </div>
                            <div class="weui-cell__bd">
                                <input class="weui-input commonTable required" data-type="01" type="text" id="basic_nation" value="">
                            </div>
                        
                    </div>

                   
                        <div class="weui-cell">
                            <div class="weui-cell__hd">
                                <label for="" class="weui-label">最高学历</label>
                            </div>
                            <div class="weui-cell__bd">
                                <input class="weui-input commonTable required" data-type="02" type="text" id="basic_educational" value="">
                            </div>
                        </div>
                   

                    
                        <div class="weui-cell">
                            <div class="weui-cell__hd">
                                <label for="" class="weui-label">政治面貌</label>
                            </div>
                            <div class="weui-cell__bd">
                                <input class="weui-input commonTable required" data-type="03" type="text" id="basic_political" value="">
                            </div>
                        </div>
                    

                   
                       

                   
                            <div class="weui-cell ">
                                <div class="weui-cell__hd">
                                    <label for="" class="weui-label">现居地址</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input class="weui-input required" type="text" id="basic_house" value="江西省 南昌市 东湖区">
                                </div>
                            </div>
                      
                        
                        <div class="weui-cell">
                            
                                <div class="weui-cell__hd">
                                    <label for="" class="weui-label">紧急联络人</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input class="weui-input required" type="text" id="basic_contractName" value="">
                                </div>
                           
                        </div>

                        <div class="weui-cell">
                            
                                <div class="weui-cell__hd">
                                    <label for="" class="weui-label">紧急联系电话</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input class="weui-input required" type="text" id="basic_contractPhone" value="">
                                </div>
                           
                        </div>

                        
                           

                    <div class="weui-btn-area">
                        <a class="weui-btn weui-btn_primary" href="javascript:" data-id="register" id="btnBasic1">下一步</a>
                    </div>
                </div>
            </div>

            <div class="page__ft">
               
            </div>
        </div>

        <script type="text/javascript">
            $(function(){
                initBasic1();
            });
        </script>
    </script>

    <!-- 基本信息2 -->
    <script type="text/html" id="tpl_basic2">
        <div class="page" id="page_basic2">
            <div class="page__hd">
                    <p>基本信息</p>
            </div>

            <div class="page__bd page__bd_spacing">
                <div class="weui-cells weui-cells_form">
                        <div class="weui-cell">
                            <div class="weui-cell__hd">
                                <label for="" class="weui-label">工作年限</label>
                            </div>
                            <div class="weui-cell__bd">
                                <input class="weui-input commonTable required" data-type="04" type="text" id="basic_workingYear" value="">
                            </div>
                        </div>
                   
                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label for="" class="weui-label">求职状态</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input class="weui-input commonTable required" data-type="05" type="text" id="basic_workingStatus" value="">
                                </div>
                            </div>
                       
                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label for="" class="weui-label">到岗时间</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input class="weui-input commonTable required" data-type="06" type="text" id="basic_joinTime" value="">
                                </div>
                            </div>
                        
                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label for="" class="weui-label">期望工作性质</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input class="weui-input commonTable required" data-type="07" type="text" id="basic_workType" value="">
                                </div>
                            </div>
                        
                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label for="" class="weui-label">从事行业</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input class="weui-input commonTable required" type="text" data-type="11" id="basic_industry" value="">
                                </div>
                            </div>
                       

                        
                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label for="" class="weui-label">期望工作岗位</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input class="weui-input required" type="text" id="basic_quarters1" value="">
                                </div>
                            </div>
                      
                            
                        
                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label for="" class="weui-label">期望薪资</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input class="weui-input commonTable required" data-type="08" type="text" id="basic_salary" value="">
                                </div>
                            </div>
                       

                       
                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label for="" class="weui-label">期望工作地点</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input class="weui-input required" type="text" id="basic_workingAddress" value="">
                                </div>
                            </div>


                    <div class="weui-btn-area">
                        <a class="weui-btn weui-btn_primary" href="javascript:" data-id="register" id="btnBasic2">下一步</a>
                    </div>
                </div>
            </div>

            <div class="page__ft">
               
            </div>
        </div>

        <script type="text/javascript">
            $(function(){
                initBasic2();
            });
        </script>
    </script>

    <!-- 职业技能 -->
    <script type="text/html" id="tpl_basic3">
        <div class="page">
            <div class="page__hd">
                    <p>职业技能</p>
            </div>

            <div class="page__bd page__bd_spacing">
                <div class="weui-cells weui-cells_form">
                        
                           <div class="weui-cell skill1">
                                <div class="weui-cell__hd">
                                    <label for="" class="weui-label">个人证书技能</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input class="weui-input commonTable" data-type="09"  type="text" id="basic_skill" value="">
                                </div>
                            </div>
                        
                            <div class="weui-cells weui-cells_form skill1">
                                <div class="weui-cell">
                                    <div class="weui-cell__bd">
                                        <div class="weui-uploader">
                                          <div class="weui-uploader__hd">
                                            <p class="weui-uploader__title">证书上传</p>
                                            
                                                <!-- <div class="weui-uploader__info">0/2</div> -->
                                          </div>
                                          <div class="weui-uploader__bd">
                                            <ul class="weui-uploader__files"  >
                                              <li class="weui-uploader__file weui-uploader__file_status" id="li_1" data-upload="0">
                                                <div class="weui-uploader__file-content"></div>
                                              </li>
                                              <li class="weui-uploader__file weui-uploader__file_status" id="li_2" data-upload="0">
                                                    <div class="weui-uploader__file-content"></div>
                                              </li>
                                            </ul>
                                            <div class="weui-uploader__input-box">
                                              <input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*" />
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       
                            <div class="weui-cell skill2">
                                <div class="weui-cell__hd">
                                    <label for="" class="weui-label">个人证书技能</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input class="weui-input commonTable" data-type="09"  type="text" id="basic_skill2" value="">
                                </div>
                            </div>
                        
                            <div class="weui-cells weui-cells_form skill2">
                                <div class="weui-cell">
                                    <div class="weui-cell__bd">
                                        <div class="weui-uploader">
                                          <div class="weui-uploader__hd">
                                            <p class="weui-uploader__title">证书上传</p>
                                            
                                                <!-- <div class="weui-uploader__info">0/2</div> -->
                                          </div>
                                          <div class="weui-uploader__bd">
                                            <ul class="weui-uploader__files"  >
                                              <li class="weui-uploader__file weui-uploader__file_status" id="li_3" data-upload="0">
                                                <div class="weui-uploader__file-content"></div>
                                              </li>
                                              <li class="weui-uploader__file weui-uploader__file_status" id="li_4" data-upload="0">
                                                    <div class="weui-uploader__file-content"></div>
                                              </li>
                                            </ul>
                                            <div class="weui-uploader__input-box">
                                              <input id="uploaderInput2" class="weui-uploader__input" type="file" accept="image/*" />
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="weui-cell skill3">
                                <div class="weui-cell__hd">
                                    <label for="" class="weui-label">个人证书技能</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input class="weui-input commonTable" data-type="09"  type="text" id="basic_skill3" value="">
                                </div>
                            </div>
                        
                            <div class="weui-cells weui-cells_form skill3">
                                <div class="weui-cell">
                                    <div class="weui-cell__bd">
                                        <div class="weui-uploader">
                                          <div class="weui-uploader__hd">
                                            <p class="weui-uploader__title">证书上传</p>
                                            
                                                <!-- <div class="weui-uploader__info">0/2</div> -->
                                          </div>
                                          <div class="weui-uploader__bd">
                                            <ul class="weui-uploader__files"  >
                                              <li class="weui-uploader__file weui-uploader__file_status" id="li_5" data-upload="0">
                                                <div class="weui-uploader__file-content"></div>
                                              </li>
                                              <li class="weui-uploader__file weui-uploader__file_status" id="li_6" data-upload="0">
                                                    <div class="weui-uploader__file-content"></div>
                                              </li>
                                            </ul>
                                            <div class="weui-uploader__input-box">
                                              <input id="uploaderInput3" class="weui-uploader__input" type="file" accept="image/*" />
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="weui-gallery" style="display: none" id="gallery">
                                <div class="weui-gallery__opt">
                                    <a href="javascript:" class="weui-gallery__button" id="backButton">
                                      <i class="weui-icon-back weui-icon_gallery-back"></i>
                                    </a>
                                  </div>
                                <span class="weui-gallery__img" ></span>
                                <div class="weui-gallery__opr">
                                  <a href="javascript:" class="weui-gallery__button" id="deleteButton">
                                    <i class="weui-icon-delete weui-icon_gallery-delete"></i>
                                  </a>
                                </div>
                            </div>

                            <div class="weui-btn-area">
                                <a href="javascript:;" class="weui-btn weui-btn_default" id="skill_add">新增职业技能</a>
                          </div>
                            <div class="weui-cell">
                            
                                <div class="weui-cell__hd">
                                    <label for="" class="weui-label">爱好特长</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input class="weui-input" type="text" id="basic_hobby" value="">
                                </div>
                           
                            </div>

                    <div class="weui-btn-area">
                        <a class="weui-btn weui-btn_primary" href="javascript:" data-id="register" id="btnBasic3">下一步</a>
                    </div>
                </div>
            </div>

            <div class="page__ft">
               
            </div>
        </div>

        <script type="text/javascript">
            $(function(){
                initBasic3();
            });
        </script>
    </script>

    <!-- 工作经历 -->
    <script type="text/html" id="tpl_work">
        <div class="page" id="page_work">
            <div class="page__hd">
                    <p>工作经历</p>
                    
            </div>

                <div class="page__bd page__bd_spacing">
                    <div class="work_tpl">
                       
                        <div class="weui-cells__title">工作经历</div>
                       
                       <div class="weui-cells weui-cells_form " >
                        
                           <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label for="" class="weui-label">开始时间</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input class="weui-input work_startDate required"   type="text"  value="">
                                </div>
                            </div>
                        
                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label for="" class="weui-label">结束时间</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input class="weui-input work_endDate required"  type="text"  value="">
                                </div>
                            </div>

                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label for="" class="weui-label">公司名称</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input class="weui-input work_companyName required"  type="text"  value="">
                                </div>
                            </div>
                           

                            <div class="weui-cell">
                            
                                <div class="weui-cell__hd">
                                    <label for="" class="weui-label">主要职位</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input class="weui-input work_post required" type="text"  value="">
                                </div>
                           
                            </div>

                            <div class="weui-cell">
                            
                                <div class="weui-cell__hd">
                                    <label for="" class="weui-label">主要职责</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input class="weui-input work_duty required" type="text"  value="">
                                </div>
                           
                            </div>
                        </div>
                        <div class="weui-btn-area work_delete" style="display:none" >
                                <a href="javascript:;" class="weui-btn weui-btn_plain-warn " >删除工作经历</a>
                          </div>
                    </div>
                        
                            <div class="weui-btn-area">
                                  <a href="javascript:;" class="weui-btn weui-btn_default" id="work_add">新增工作经历</a>
                            </div>
                    <div class="weui-btn-area">
                        <a class="weui-btn weui-btn_primary" href="javascript:" data-id="register" id="btnWork">下一步</a>
                    </div>    
                </div>

            <div class="page__ft">
               
            </div>
        </div>

        <script type="text/javascript">
            $(function(){
                initWork();
            });
        </script>
    </script>

      <!-- 教育/培训经历 -->
      <script type="text/html" id="tpl_train">
        <div class="page" id="page_train">
            <div class="page__hd">
                    <p>教育/培训经历</p>
                    
            </div>

            <div class="page__bd page__bd_spacing">
                    <div class="train_tpl">
                       
                        <div class="weui-cells__title">教育/培训经历</div>
                       
                       <div class="weui-cells weui-cells_form " >
                        
                           <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label for="" class="weui-label">开始时间</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input class="weui-input train_startDate required"   type="text"  value="">
                                </div>
                            </div>
                        
                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label for="" class="weui-label">结束时间</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input class="weui-input train_endDate required"  type="text"  value="">
                                </div>
                            </div>

                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label for="" class="weui-label">毕业院校/培训机构</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input class="weui-input train_school required"  type="text"  value="">
                                </div>
                            </div>
                           

                            <div class="weui-cell">
                            
                                <div class="weui-cell__hd">
                                    <label for="" class="weui-label">专业/技能</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input class="weui-input train_career required" type="text"  value="">
                                </div>
                           
                            </div>

                            <div class="weui-cell">
                            
                                <div class="weui-cell__hd">
                                    <label for="" class="weui-label">详细情况</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input class="weui-input train_desc required" type="text"  value="">
                                </div>
                           
                            </div>
                        </div>
                        <div class="weui-btn-area train_delete" style="display:none" >
                                <a href="javascript:;" class="weui-btn weui-btn_plain-warn " >删除教育/培训经历</a>
                          </div>
                    </div>
                        
                            <div class="weui-btn-area">
                                  <a href="javascript:;" class="weui-btn weui-btn_default" id="train_add">新增教育/培训经历</a>
                            </div>
                    <div class="weui-btn-area">
                        <a class="weui-btn weui-btn_primary" href="javascript:" data-id="register" id="btnTrain">下一步</a>
                    </div>
               
                    
            </div>

            <div class="page__ft">
               
            </div>
        </div>

        <script type="text/javascript">
            $(function(){
                initTrain();
            });
        </script>
    </script>


     <!-- 家庭成员 -->
     <script type="text/html" id="tpl_family">
        <div class="page" id = "page_family">
            <div class="page__hd">
                    <p>家庭成员</p>
                    
            </div>

            <div class="page__bd page__bd_spacing">
                    <div class="family_tpl">
                       
                        <div class="weui-cells__title">家庭成员</div>
                       
                       <div class="weui-cells weui-cells_form " >
                        
                           <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label for="" class="weui-label">姓名</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input class="weui-input family_name required"   type="text"  value="">
                                </div>
                            </div>
                        
                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label for="" class="weui-label">与本人关系</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input class="weui-input family_relation commonTable required" data-type="12"  type="text" value="">
                                </div>
                            </div>

                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label for="" class="weui-label">联系电话</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input class="weui-input family_relatePhone required"  type="text"  value="">
                                </div>
                            </div>
                           

                            <div class="weui-cell">
                            
                                <div class="weui-cell__hd">
                                    <label for="" class="weui-label">工作现状</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input class="weui-input family_work required" type="text"  value="">
                                </div>
                           
                            </div>

                            
                        </div>
                        <div class="weui-btn-area family_delete" style="display:none" >
                                <a href="javascript:;" class="weui-btn weui-btn_plain-warn " >删除家庭成员</a>
                          </div>
                    </div>
                        
                            <div class="weui-btn-area">
                                  <a href="javascript:;" class="weui-btn weui-btn_default" id="family_add">新增家庭成员</a>
                            </div>
                    <div class="weui-btn-area">
                        <a class="weui-btn weui-btn_primary" href="javascript:" data-id="register" id="btnFamily">下一步</a>
                    </div>
               
                    
            </div>

            <div class="page__ft">
               
            </div>
        </div>

        <script type="text/javascript">
            $(function(){
                initFamility();
            });
        </script>
    </script>


    <!-- 流程结束，欢迎界面 -->
    <script type="text/html" id="tpl_welcome">
        <div class="page">
            <div class="page__hd">
                    <p>欢迎加入</p>
                    
            </div>

            <div class="page__bd page__bd_spacing">
                <div class="weui-msg">
                    <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
                    <div class="weui-msg__text-area">
                      <h2 class="weui-msg__title">注册成功</h2>
                      <p class="weui-msg__desc">欢迎加入</p>
                    </div>
                    
            </div>

            <div class="page__ft">
               
            </div>
        </div>

        <script type="text/javascript">
            $(function(){
                initFamility();
            });
        </script>
    </script>

    <div id="quartersPopup" class="weui-popup__container popup-left">
        <div class="weui-popup__overlay"></div>
        <div class="weui-popup__modal">
            <div class="toolbar">
                <div class="toolbar-inner">
                    <a href="javascript:;" class="picker-button close-select" id="btnQuarters">确定</a>
                    <h1 class="title">请选择岗位</h1>
                </div>
            </div>
            <div class="weui-cells level1">
                {volist name="quartersCodeTable" id="vo"}
                <a class="weui-cell weui-cell_access" href="javascript:;" data-id="#{$vo.value}">
                    <div class="weui-cell__bd">
                        <p>{$vo.title}</p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
                <div class="weui-cells level2" id="{$vo.value}">
                    {volist name="vo['sub']" id="sub1"}
                    <a class="weui-cell weui-cell_access" href="javascript:;" data-id="#{$sub1.value}">
                        <div class="weui-cell__bd">
                            <p>{$sub1.title}</p>
                        </div>
                        <div class="weui-cell__ft">
                        </div>
                    </a>


                    <div class="weui-cells weui-cells_checkbox level3" id="{$sub1.value}">
                        {volist name="sub1['sub']" id="sub2"}
                        <label class="weui-cell weui-check__label" for="{$sub2.value}">
                            <div class="weui-cell__hd">
                                <input type="checkbox" class="weui-check" id="{$sub2.value}" data-level1="{$vo.value}"
                                    data-level2="{$sub1.value}">
                                <i class="weui-icon-checked"></i>
                            </div>
                            <div class="weui-cell__bd">
                                <p>{$sub2.title}</p>
                            </div>
                        </label>
                        {/volist}
                    </div>
                    {/volist}
                </div>
                {/volist}
            </div>


        </div>
    </div>



    <script src="{$default_dir}static/resume/zepto.min.js"></script>
    <script src="{$default_dir}static/resume/example.js"></script>
    <script src="http://cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
    <script src="http://cdn.staticfile.org/jquery-weui/1.2.1/js/city-picker.min.js"></script>
    <script src="{$default_dir}static/resume/resume.js"></script>

    <script type="text/javascript">
        var commonTable = {$codeTable|raw};
        var resume = {$resume|raw};
        $(function () {
            bindQuarter();
            //     $.ajax({
            //         url: resourceUrl,
            //         type: "GET",
            //         dataType: 'json',
            //         crossDomain: true,
            //         data: {
            //             'func': "GetCommonCode",
            //         }
            //     }).done(function (data) {
            //         //验证失败
            //         commonTable = data;

            //     }).fail(function (data) {
            //         $.toptip('操作失败', 'error');;
            //     });


        });
    </script>
</body>

</html>