<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>WeUI</title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="http://cdn.staticfile.org/weui/1.1.3/style/weui.min.css" />
    <link rel="stylesheet" href="http://cdn.staticfile.org/jquery-weui/1.2.1/css/jquery-weui.min.css">
    <link rel="stylesheet" href="{$default_dir}static/resume/example.css" />
</head>

<body ontouchstart>

  
       
             
                <div class="weui-cells level1">
                    {volist name="quartersCodeTable" id="vo"}
                    <a class="weui-cell weui-cell_access" href="javascript:;" data-id="#{$vo.code}">
                        <div class="weui-cell__bd">
                            <p>{$vo.name}</p>
                        </div>
                        <div class="weui-cell__ft">
                        </div>
                    </a>
                        <div class="weui-cells level2" id="{$vo.code}">
                            {volist name="vo['sub']" id="sub1"}
                            <a class="weui-cell weui-cell_access" href="javascript:;" data-id="#{$sub1.code}">
                                <div class="weui-cell__bd">
                                    <p>{$sub1.name}</p>
                                </div>
                                <div class="weui-cell__ft">
                                </div>
                            </a>
                           
                           
                                <div class="weui-cells weui-cells_checkbox level3" id="{$sub1.code}">
                                    {volist name="sub1['sub']" id="sub2"}
                                    <label class="weui-cell weui-check__label" for="{$sub2.code}">
                                            <div class="weui-cell__hd">
                                              <input type="checkbox" class="weui-check"  id="{$sub2.code}" data-level1= "{$vo.code}" data-level2= "{$sub1.code}" >
                                              <i class="weui-icon-checked"></i>
                                            </div>
                                            <div class="weui-cell__bd">
                                              <p>{$sub2.name}</p>
                                            </div>
                                    </label>
                                    {/volist}
                                </div>
                            {/volist}
                        </div>
                    {/volist}
    
               
   
    <script type="text/javascript">
        var handelUrl = "{:url('/resume/handle')}";
        var resourceUrl = "{:url('/resume/resource')}";
    </script>






    
    <script src="http://cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
    
    <script type="text/javascript">
        var commonTable = {$codeTable|raw};
         $(function () {
      

            $(".level1 > a, .level2 > a").on('click', function(){
                //console.log("aa");
                var subId = $(this).data("id");
                $(subId).slideToggle("normal");

                $(this).find(".weui-cell__ft").toggleClass("weui-cell__ft2");
            });

            $(".level1 :checkbox").on('click', function() {
                //alert($)
               // var checkboxs = $(".level1:checked");
               //console.log($(this).prop("checked"));
               var level1Code = "";
               var level2Code = "";
               var level3Code = "";
                $(".level1 :checked").each(function() {
                    //console.log($(this).attr("id"));
                    var tmp1 = $(this).data("level1");

                    //console.log("level1Code:" + level1Code);
                    //console.log("tmp1:" + tmp1);
                     if(level1Code != "" && level1Code !=tmp1) {
                       // console.log("level1Code failed");
                         return false;
                     }
                     else {
                        level1Code = tmp1;
                     }

                    var tmp2 = $(this).data("level2");

                    //console.log("level2Code:" + level2Code);
                    //console.log("tmp2:" + tmp1);

                    if(level2Code != "" && level2Code !=tmp2) {
                       // console.log("level2Code failed");
                        return false;
                    }
                    else {
                        level2Code = tmp2;
                    }
                     //level3Code = $(this).attr("id");
                });
                
            });
        });
    </script>
</body>

</html>